@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-brand: "Google Sans", sans-serif;
  --font-system: "Roboto", sans-serif;

  --color-primary: #0EA5E9;

  --color-text-base: #293241;
  --color-text-muted: #64748B;

  --color-bg-primary: #FFFFFF;
  --color-bg-muted: #f6f8fa;

  --color-border-muted: #d1d9e0;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-brand);
  letter-spacing: 0.25 rem;
  min-height: 100vh;
  background-color: var(--color-bg-primary);
}
